// BOOTSTRAP CUSTOM CSS
$primary: #5265E1;   
$secondary: #FA5959;      
//$secondary: #E8EAF6;     

/*
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-900 !default;*/

// SITE CUSTOM CSS
.contenedor-imgs{
    position:relative;
    //top: 100px;
    //left:100px;
}
.img-app, .img-feature {
    //box-shadow: 12rem 10rem $primary;
    //opacity:0.9;
    
    position:relative;
    z-index:8;
    //max-width: 80%;
    
}
.img-sombra{
    width:100%;
    height: 80%;
    background-color: $primary;

    position: absolute;
    top:30%;
    left:30%;    
    border-radius: 40% 0 0 40%;    
}

.sombra-feature {
    width:100%;
    height: 90%;
    background-color: $primary;

    position: absolute;
    top:25%;
    right: 30%;
          
    border-radius: 0 40% 40% 0;   
}





@import "../node_modules/bootstrap/scss/bootstrap";
// TMP BORRAR
body {
    background-color: aqua;
}

main {
    background-color: white;
}
//


// clases sobreescritas
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    //color: #495057;
    color: $dark;
    /*background-color: #fff;*/
    border: none;
    border-bottom:0.25rem solid $secondary;
    //border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .nav-link {
    color: $gray-500;
    border: none;
    /*margin-bottom: -1px;
    background: none; */
}
